body {
    background-color: rgb(196, 4, 4);
}
#title {
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 30px;
    color: goldenrod;
    font-family: arial;
}
#button-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20px;
    text-align: center;
    padding: 10px;
}
.buttons {
    width: 100px;
    height: 30px;
    font-size: 18px;
}
#etch-container {
    display: grid;
    grid-template-columns: repeat(96, 10px);
    grid-template-rows: repeat(32, 10px);
    justify-content: center;
}
.node {
    border: solid 1px black;
}