body {
    background-color: rgba(104, 103, 103, 0.801);
}
#reset-button-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}
#etch-container {
    display: grid;
    grid-template-columns: repeat(96, 10px);
    grid-template-rows: repeat(32, 10px);
    justify-content: center;
}
.node {
    border: solid 1px black;
}